### Avansert: Pandas

La oss se litt nærmere på `pandas`.

#### Dataframes

Den viktigste datatypen fra `pandas` er `DataFrame`.

En dataframe er en ordbok hvor keys er navn for kolonner, og values er data i hver kolonne.

In [36]:
import pandas as pd

data = {
    'Navn': ['Aelar', 'Thalia', 'Gorath', 'Elara', 'Borin'],
    'Class': ['Ranger', 'Wizard', 'Barbarian', 'Rogue', 'Cleric'],
    'Alder': [120, 35, 28, 25, 150],
    'Rase': ['Elf', 'Human', 'Half-Orc', 'Halfling', 'Dwarf'],
    'Level': [5, 7, 6, 4, 8]
}

df = pd.DataFrame(data)

print(df)

     Navn      Class  Alder      Rase  Level
0   Aelar     Ranger    120       Elf      5
1  Thalia     Wizard     35     Human      7
2  Gorath  Barbarian     28  Half-Orc      6
3   Elara      Rogue     25  Halfling      4
4   Borin     Cleric    150     Dwarf      8

Vi kan hente kolonner ved å skrive inn navnene som keys. Disse kolonnene kan håndteres som lister.

In [14]:
print(df["Navn"])
print()
print(list(df["Navn"]))

0     Aelar
1    Thalia
2    Gorath
3     Elara
4     Borin
Name: Navn, dtype: object

['Aelar', 'Thalia', 'Gorath', 'Elara', 'Borin']

Man kan hente en spesifikk rad ved å bruke `iloc()`, eller `loc()` hvis filen har en ID i starten av hver rad.

In [20]:
print(df.iloc[4])

Navn      Borin
Class    Cleric
Alder       150
Rase      Dwarf
Level         8
Name: 4, dtype: object

Man kan også filtrere resultatene fra en rad.

In [23]:
print(df[df["Level"] >= 6]) # Henter ut alle som har level større enn eller likt 6

     Navn      Class  Alder      Rase  Level
1  Thalia     Wizard     35     Human      7
2  Gorath  Barbarian     28  Half-Orc      6
4   Borin     Cleric    150     Dwarf      8

Vi kan også finne gjennomsnitt og summer veldig enkelt med `mean()`- og `sum()`-metodene.

In [46]:
print(f"Gjennomsnittlig alder: {df["Alder"].mean()} år")
print(f"Sum av hvert level: {df["Level"].sum()}")

Gjennomsnittlig alder: 71.6 år
Sum av hvert level: 30

#### Skrive til og lese fra filer.

Vi kan skrive til og lese fra filer ved å bruke `pd.read_csv()` og `pd.to_csv()`. *Ja, det er også mulig med JSON*

In [47]:
df.to_csv("adventurers.csv", index=False)

In [48]:
df = pd.read_csv("adventurers.csv")
print(df)

     Navn      Class  Alder      Rase  Level
0   Aelar     Ranger    120       Elf      5
1  Thalia     Wizard     35     Human      7
2  Gorath  Barbarian     28  Half-Orc      6
3   Elara      Rogue     25  Halfling      4
4   Borin     Cleric    150     Dwarf      8

```{admonition} Annen separator og desimaltegn
:class: hint
Metoden `pd.read_csv()` kan også ta argumentene `sep=` og `decimal=` for å håndtere datafiler som har andre separatorer enn komma `,` og som bruker `,` i stedet for `.` i desimaltall.
```

#### Sortering

Man kan også sortere en DataFrame etter verdier.

In [52]:
print(df.sort_values(by="Alder", ascending=False))

     Navn      Class  Alder      Rase  Level
4   Borin     Cleric    150     Dwarf      8
0   Aelar     Ranger    120       Elf      5
1  Thalia     Wizard     35     Human      7
2  Gorath  Barbarian     28  Half-Orc      6
3   Elara      Rogue     25  Halfling      4